<h1 class="mt-4 mb-3">Upload Data File</h1>

<form method="post" enctype="multipart/form-data" class="border p-4 shadow rounded">
    <div class="mb-3">
        <label for="file" class="form-label">Choose XML or CSV File</label>
        <input type="file" name="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
